<div>
    <h1 class="text-capitalize text-center">Welcome</h1>
    <div style="width: 30%; display: block; margin-left:auto; margin-right:auto">
        <p class="btn btn-block btn-primary btn-info text-black-50">
            <a asp-controller="Login" asp-action="Login">Login</a>
        </p>
    </div>
    <div style="width: 30%; display: block; margin-left:auto; margin-right:auto">
        <p class="btn btn-block btn-primary btn-info text-black-50">
            <a asp-controller="Registration" asp-action="Registration">Registration</a>
        </p>
    </div>
</div>