<div>
    <h1 class="text-capitalize text-center">Welcome</h1>
    <p class="btn btn-block btn-primary btn-info text-dark">
        <a asp-controller="Login" asp-action="Login">Login</a>
    </p>
    <p class="btn btn-block btn-primary btn-info text-dark">
        <a asp-controller="Registration" asp-action="Registration">Registration</a>
    </p>
</div>