<div>
    <span class="text-center text-capitalize">Thank you for registration</span>
    <p class="btn btn-block btn-primary btn-info">
        <a asp-controller="Welcome" asp-action="WelcomeAction">Return to main page</a>
    </p>
</div>